{{#each comments as |comment|}}
<div class="item" data-id="{{comment.id}}">
  <p>{{comment.text}}</p>
  <div class="btn-div" data-id="{{comment.id}}">
    <button class="btn edit-comment" data-id="{{comment.id}}">Edit</button>
    <button class="btn delete-comment" data-id="{{comment.id}}">Delete</button>
  </div>
</div>
{{/each}}
