{{#each posts as |post|}}
<div class="item" data-id="{{post.id}}">
  <img id="img-{{post.id}}">
  <h3>{{post.title}}</h3>
  <p>{{post.text}}</p>
  <div class="btn-div" title="{{post.title}}" text="{{post.text}}" img="{{post.img}}">
    <button class="btn edit-post" data-id="{{post.id}}">EDIT</button>
  </div>
  <div class="btn-div">
    <button class="btn delete-post" data-id="{{post.id}}">DELETE</button>
  </div>
  <section id="comments" class="comments"></section>
</div>

{{/each}}
